body {

  min-height: 1200px;

}


.jumbotron {

  background-color: none;
}

.motion_hero_background {

  background-color: #000000;
  margin-top:4rem;
}


.motion_row_spacer {

  margin-top: 6rem;
  margin-bottom: 6rem;
}
